*{
    font-family: 'Kanit', sans-serif;
    margin: 0;
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

.Flex{
    display: flex;
}

.inline{
    display: inline;
}

:root{
    --Color1Principal: rgb(50,0,50);
    --Color2Principal: rgb(250,80,100);
}

header, footer{
    background: radial-gradient(circle at 0%,var(--Color1Principal),var(--Color2Principal),rgb(255,255,255));
    align-items: center;
    justify-content: space-between;
    padding: 0.25em;
    position: sticky;
}

header{
    top: 0;
    z-index: 1000;
}

footer{
    bottom: 0;
}

h1{
    letter-spacing: 0.1em;
    font-size: 4em;
    color: white;
    margin: 0 1em;
}

nav ul li a{
    margin: 0 1em;
    font-size: 1.25em;
    text-decoration: none;
}

footer a, footer p{
    text-decoration: none;
    margin: 0 1em;
}

#NombreJuego{
    font-size: 2.5em;
    text-align: center;
    color: var(--Color2Principal);
    letter-spacing: 0.15em;
    background-color: rgb(255,255,255);
}

#grafiti{
    height: 18em;
    position: absolute;
    right: -50%;
    top: -50%;
    animation-name: MoverGrafiti;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#ContainerForm{
    width: 70vw;
    background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt5599d0d810824279/6036ca30ce4a0d12c3ec1dfa/V_AGENTS_587x900_Astra.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin: 0.5em;
}

#IniciarSeccion aside{
    width: 25vw;
    border: 0.25em solid var(--Color1Principal);
    margin: 0.5em;
    align-items: center;
    flex-direction: column;
}

#IniciarSeccion h3{
    font-size: 2em;
    color: rgb(0,0,0);
    text-align: center;
}

#IniciarSeccion{
    border: 0.5em solid var(--Color1Principal);
    padding: 1em 0;
    background: radial-gradient(ellipse at 50%,rgb(255,255,255),rgb(255,255,255),rgb(255,255,255),rgb(255,255,255),rgb(255,255,255),rgb(220,180,180),var(--Color2Principal),var(--Color1Principal));
}

#formEntrada{
    flex-direction: column;
    align-items: center;
}

#formEntrada input, #formEntrada label{
    margin: 0.5em;
}

#Submit{
    background-color: var(--Color2Principal);
    color: white;
    border: none;
    width: 25%;
    padding: 0.25em;
    cursor: pointer;
}

#Submit:hover{
    background-color: var(--Color1Principal);
    transition: background-color 0.5s;
}

.input{
    width: 50%;
}

.inline{
    display: inline;
}

header a{
    color: var(--Color1Principal);
}

header a:hover{
    color: var(--Color2Principal);
    font-size: 1.5em;
    transition: all 1s;
}

footer a{
    color: rgb(255,255,255);
}

aside img{
    height: 16em;
    width: 16em;
    object-fit: cover;
    border: 5px solid rgb(0,0,0);
    box-shadow: 0px 0px 0.1em rgb(255,255,255);
    margin: 0.5em;
}

aside h4{
    font-size: 1.25em;
    margin: 0.5em 0.5em 0.5em 2em;
    align-self: flex-start;
    text-decoration: underline;
}

#Requisitos{
    text-align: justify;
    margin: 1.5em;
    justify-content: space-between;
    border: 2px solid rgb(0,0,0);
    align-items: center;
}

#Requisitos img{
    height: 12em;
    margin: 0 1em;
}

#Requisitos p{
    margin: 2em 2.5em;
    position: relative;
    bottom: -5vh;
    opacity: 0;
    animation: AparecerTextoRequisitos;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#galeria{
    justify-content: space-between;
    margin: 2em 0;
    height: 60vh;
}

#galeria img{
    height: 24em;
    width: 24em;
    object-fit: cover;
    border: 0.25px solid rgb(255,255,255);
}

#img2{
    align-self: flex-end;
}

#ContenedorParteInferior{
    height: 100%;
    color: rgb(255,255,255);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2em 2em 2em;
    text-align: justify;
    background: linear-gradient(0deg,rgb(0,0,0) 80%,rgb(120,120,120) 90%,rgb(255,255,255) 100%);
}

#ContenedorParteInferior video{
    width: 40em;
    margin: 4em auto;
}

#ContenedorParteInferior h2{
    color: white;
    margin: 5em 0 2em 0;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 0.1em;
    top: -5vh;
    opacity: 0;
    position: relative;
}

#ContenedorParteInferior h3{
    font-size: 1.75em;
    letter-spacing: 0.1em;
    margin: 1em;
    color: var(--Color2Principal);
}

#ContenedorParteInferior:hover > h2{
    animation: ContenidoInferior, LuzTexto;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0.25s;
}

#galeria:hover > img{
    animation: LuzGaleria;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes MoverGrafiti{
    0%{
        right: -50%;
        top: -50%;
    }
    100%{
        right: 0;
        top: 0;
    }
}

@keyframes AparecerTextoRequisitos{
    0%{
        bottom: -5vh;
        opacity: 0;
    }
    100%{
        bottom: 0;
        opacity: 100%;
    }
}

@keyframes ContenidoInferior{
    0%{
        top: -5vh;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 100%;
    }
}

@keyframes LuzGaleria{
    0%{
        box-shadow: none;
    }
    100%{
        box-shadow: 0px 0px 1em var(--Color2Principal);;
    }
}

@keyframes LuzTexto{
    0%{
        text-shadow: none;
    }
    100%{
        text-shadow: 0px 0px 0.5em var(--Color2Principal);;
    }
}